stable_baselines3==2.1.0
gymnasium==0.29.1
imageio==2.31.3
mujoco==2.3.7
optax==0.1.7
tqdm==4.66.1
rich==13.5.2
rlax==0.1.6
tensorboard==2.14.0
tensorflow-probability==0.21.0
wandb==0.18.5
scipy==1.11.4
shimmy==1.3.0
hydra-core==1.3.2
numpyro==0.15.3
dm-control==1.0.14